[submodule ".vim/bundle/vim-dirdiff"]
	path = .vim/bundle/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
	branch = master
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	branch = master
[submodule ".vim/bundle/firrtl-syntax"]
	path = .vim/bundle/firrtl-syntax
	url = https://github.com/azidar/firrtl-syntax.git
	branch = master
