[submodule ".vim/bundle/vim-dirdiff"]
	path = .vim/bundle/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
	branch = master
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	branch = master
[submodule ".vim/bundle/firrtl-syntax"]
	path = .vim/bundle/firrtl-syntax
	url = https://github.com/azidar/firrtl-syntax.git
	branch = master
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/wake-pathogen"]
	path = .vim/bundle/wake-pathogen
	url = git@github.com:timsnyder-siv/wake-pathogen.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
